# fill in the ... below.  Go to Data/Storage Tab, on your account webpage https://app.cyclic.sh/#/app/
CYCLIC_DB=...CyclicDB
AWS_REGION="us-west-1"
AWS_ACCESS_KEY_ID="..."
AWS_SECRET_ACCESS_KEY="..."
AWS_SESSION_TOKEN="..."
